*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

ul, li {
  list-style: none;
}

.page-container {
  width: 100%;
  margin-top: 6vh;
  min-height: 94vh;
}