.landing-page-section {
  padding: 1rem;
  height: 100%;
  display: grid;
  grid-template-columns: auto 90%;
}

.landing-page-section .tools-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.landing-page-section .tasks-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tasks-container .add-task-container {
  width: 20rem;
  height: 20rem;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 1.2% 5% 0% 0%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-task-container img {
  width: 15rem;
  height: 15rem;
}

.tools-container button {
  margin-top: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  font-weight: 500;
  font-size: 1.2rem;
}

.form-group input {
  width: 18rem;
  margin-top: 0.5rem;
}